<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="registros_tittle" class="modal-title">Detalle Cerradura</h3>
                <h4 id="registros_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div id="registros_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">Marca ID</label>
                            <input id="fkdispositivo" type="hidden" >
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Dispositivo</label>
                                <div class="form-line">
                                    <input id="dispositivo"  type="text" class="form-control txta-own" >
                                </div>
                        </div>

                    </div>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <label>Nro Cerradura</label>
                                <div class="form-line">
                                    <input id="numero"  type="text" class="form-control txta-own">
                                </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Nombre</label>
                                <div class="form-line">
                                    <input id="cerradura"  type="text" class="form-control txta-own" >
                                </div>
                        </div>

                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-md-2" >
                            <button id="abrir1" type="button" class="btn bg-indigo waves-effect waves-light white-own"
                                    title="Abrir Cerradura">Abrir <i class="material-icons">lock_open</i></button>
                            </br>
                        </div>

                    </div>


                </div>

                <div class="modal-footer">
                {% if 'registros_insert' in privileges %}
                    <button id="insert" type="button" class="btn bg-indigo waves-effect white-own">Guardar <i class="material-icons">save</i></button>
                {% end %}
                {% if 'registros_update' in privileges %}
                    <button id="update" type="button" class="btn bg-indigo waves-effect white-own">Modificar <i class="material-icons">refresh</i></button>
                {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
