{% for c in objects %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.codigo }}</td>
    <td>{{ c.nombre }}</td>
    <td align="center">
        {% if 'condominio_update' in privileges %}
            <button id="edit" data-json="{{ c.id }}" type="button" class="btn bg-indigo waves-effect white-own waves-light edit" title="Editar"><i class="material-icons">create</i></button>
        {% end %}
        {% if 'condominio_delete' in privileges %}
            <button id="delete" data-json="{{ c.id }}" type="button" class="btn bg-red waves-effect white-own waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
        {% end %}
         <a target="_blank" href="http://{{ c.ip_publica }}:{{ c.puerto }}/"><button data-json="{{ c.id }}" type="button" class="btn bg-indigo waves-effect white-own waves-light " title="Editar">
             <i class="material-icons">public</i></button></a>
    </td>
</tr>
{% end %}