{% extends ../../../common/views/layout.html %}

{% block style %}
    {% set user = usuario %}
    <link rel="stylesheet" href="condominios/movimiento/assets/movimiento.css">
{% end %}

{% block content %}
    {% include form.html %}

{#    <div class="header bg-page-own"><h2>Control y Registro Vehicular</h2></div>#}
    <div class="header "><h2 class="title-rg-own">Control y Registro Vehicular</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                {% if 'movimiento_insert' in privileges %}
                    <button id="new" type="button" class="btn bg-indigo waves-effect white-own">
                    <i class="material-icons">add</i>
                    </button>
                {% end %}


            </div>
            <div class="col-sm-3">
                <div class="switch p-l-own">
                   <label>
                       Refrescar
                       <input id="switch_refrescar" type="checkbox">
                       <span class="lever"></span>
                       Detener
                   </label>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-2">
                <label class="form-label">Fecha Inicio</label>
               <div class="form-group">
                    <div id="fechaDIVinicio" class="form-line success">

                        <input id="fechai" type="text" class="form-control datei">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">Fecha Fin</label>
                    <div id="fechaDIVfin" class="form-line success">

                        <input id="fechaf" type="text" class="form-control datef">
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                    <button id="filtrar" type="button" class="btn bg-indigo waves-effect white-own">
                    <i class="material-icons">youtube_searched_for</i>
                    </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-2">
                <label class="form-label">Residentes</label>
               <div class="form-group">
                    <div id="fresidentesdiv" class="form-line success">

                        <select id="fresidente" class="form-control">
                            <option value="">Todos</option>
                            {% for resi in residentes %}
                                <option value="{{resi.id}}">{{resi.fullname}}</option>
                            {% end %}
                         </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="form-label">Domicilios | Interno</label>
               <div class="form-group">
                    <div class="form-line success">

                        <select id="fdomicilio" class="form-control">
                            <option value="">Todos</option>
                            {% for domi in domicilios %}
                                <option value="{{domi.id}}">{{domi.ubicacion}} {{domi.numero}} |  {{domi.interno}}</option>
                            {% end %}
                         </select>
                    </div>
                </div>
            </div>

        </div>

                <button id="reporte-xls" title="Excel" type="button" class="btn bg-teal waves-effect white-own">
                    <i class="material-icons">explicit</i>
                </button>
                <button id="importar_Excel" type="button" class="btn bg-indigo-verde waves-effect white-own">
                    <i class="material-icons">explicit</i><i class="material-icons">file_upload</i>
                </button>
        <div class="row clearfix">
            <div class="col-sm-10">
                <div id="rproc-loader" class="loader-wrapper" style="display: none">
                    <div class="loader loader-own">
                        <div class="preloader preloader-own">
                            <div class="spinner-layer pl-teal">
                                <div class="circle-clipper left"><div class="circle"></div></div>
                                <div class="circle-clipper right"><div class="circle"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center inf-own">Cargando Registros...</p>
                </div>
            </div>
        </div>

        {% if 'movimiento_query' in privileges %}
        <div class="row">
            <div class="body table-responsive">
                <table id="data_table" class="table table-bordered table-striped table-hover ">
                    <thead>
                        <tr>
                            <th class="order_by_th" data-name="names">Id</th>
                            <th class="order_by_th" data-name="names">Fecha Ingreso</th>
                            <th class="order_by_th" data-name="names">Fecha Salida</th>
                            <th class="order_by_th" data-name="names">Tipo documento</th>
                            <th class="order_by_th" data-name="names">Nº documento</th>
                            <th class="order_by_th" data-name="names">Nombre Invitado</th>
                            <th class="order_by_th" data-name="names">Nombre Conductor</th>
                            <th class="order_by_th" data-name="names">Cant. Pasajeros</th>
                            <th class="order_by_th" data-name="names">Placa</th>
                            <th class="order_by_th" data-name="names">Tipo vehiculo</th>
                            <th class="order_by_th" data-name="names">Marca</th>
                            <th class="order_by_th" data-name="names">Color</th>
                            <th class="order_by_th" data-name="names">Destino</th>
                            <th class="order_by_th" data-name="names">Residente</th>
                            <th class="order_by_th" data-name="names">Autorizado por</th>
                            <th class="order_by_th" data-name="names">Nro Pase</th>
                            <th class="order_by_th" data-name="names">Tipo de pase</th>
                            <th class="order_by_th" data-name="names">Salida</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
        {% else %}
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% end %}
    </div>
{% end %}

{% block script %}
    <script src="resources/plugins/momentjs/locale/es.js"></script>
    <script src="resources/js/functions.js"></script>
    <script src="condominios/movimiento/assets/movimiento.js"></script>
    <script src="resources/plugins/jquery-countto/jquery.countTo.js"></script>
    <script src="resources/js/functions.js"></script>

    <script src="resources/js/dataTables.buttons.js"></script>
    <script src="resources/js/pdfmake.js"></script>
    <script src="resources/js/vfs_fonts.js"></script>
    <script src="resources/js/buttons.bootstrap.js"></script>
    <script src="resources/js/buttons.html5.js"></script>
    <script src="resources/js/buttons.print.js"></script>
    <script src="resources/js/buttons.colVis.js"></script>
    <script>
        $(document).ready(function () {

            var data = [];
            var salida;

            {% for c in movimientos_vehicular %}
                    {% if c.fechaf %}
                        salida = '<i class="Medium material-icons icon-cog">check_circle</i>';
                    {% else %}
                         salida = '<button id="exit" onClick="salida(this)" data-json="{{ c.id }}" type="button" class="btn bg-indigo white-own waves-effect waves-light salida" title="Actualizar Salida"><i class="material-icons">exit_to_app</i></button>';
                    {% end %}

                    {% if idperfil == 1 %}
                        salida += "<button id='delete' onClick='eliminar(this)' data-json='{{ c.id }}' type='button' class='btn bg-indigo waves-effect waves-light white-own' title='Eliminar'><i class='material-icons'>delete</i></button> "
                    {% end %}

                data.push( [
                    '{{ c.id }}',
                    {% if c.descripcion_fechai == '-----' %}
                        '{{ c.fechar.strftime('%d/%m/%Y %H:%M:%S') }}',

                    {% else %}
                        '{{ c.descripcion_fechai }}',
                    {% end %}
                    '{{ c.descripcion_fechaf }}',
                    '{{ c.descripcion_documento }}',
                    '{{ c.descripcion_ci_invitado }}',
                    '{{ c.descripcion_nombre_invitado }}',
                    '{{ c.descripcion_nombre_conductor }}',
                    '{{ c.cantpasajeros }}',
                    '{{ c.descripcion_placa }}',
                    '{{ c.descripcion_tipo }}',
                    '{{ c.descripcion_marca }}',
                    '{{ c.descripcion_color}}',
                    '{{ c.descripcion_destino }}',
                    '{{ c.descripcion_residente }}',
                    '{{ c.autorizacion.nombre }}',
                    '{{ c.descripcion_nropase }} ',
                    '{{ c.tipopase.nombre }}',
                     salida

                ]);

            {% end %}

            ult_registro = data[0][00]
            cargar_tabla(data)
        });


    </script>
{% end %}
