<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="casa_tittle" class="modal-title">Ingreso de Casa</h3>
                <h3 id="departamento_tittle" class="modal-title">Ingreso de Departamento</h3>
                <h4 id="domicilio_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="domicilio_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">ID</label>
                            <input type="hidden" id="sigas" value="{{sigas}}">
                            <input type="hidden" id="idcondominio" value="{{idcondominio}}">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Condominio</label>
                             <select id="fkcondominio" class="form-control" required>
                                {% for con in condominios %}
                                    <option value="{{con.id}}">{{con.nombre}}</option>
                                {% end %}
                             </select>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <label>Codigo</label>
                                <div class="form-line">
                                    <input id="codigo" name="Codigo" type="text" class="form-control txta-own" required>
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <label>Numero</label>
                                <div class="form-line">
                                    <input id="numero" name="Numero" type="text" class="form-control txta-own" required >
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Ubicacion</label>
                                <div class="form-line">
                                    <input id="ubicacion" name="Ubicacion" type="text" class="form-control txta-own" required >
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>

                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <label>Nro. Interno</label>
                                <div class="form-line">
                                    <input id="interno" name="Numero Interno" type="number" class="form-control txta-own">
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>

                    <div class="row clearfix" hidden>
                        <div class="col-sm-6">
                            <label>Tipo</label>
                                <div class="form-line">
                                    <input id="tipo" name="Tipo" type="text" class="form-control txta-own" required >
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>


                    <div class="modal-footer">
                    {% if 'domicilio_insert' in privileges %}
                        <button id="insert" type="button" class="btn bg-indigo waves-effect">Guardar <i class="material-icons">save</i></button>
                    {% end %}
                    {% if 'domicilio_update' in privileges %}
                        <button id="update" type="button" class="btn bg-indigo waves-effect">Modificar <i class="material-icons">refresh</i></button>
                    {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="form-importar" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:60vw; max-width: 500px" >
        <div class="modal-content">
              <form id="importar-form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 id="importxls_title" class="modal-title">Importar</h3>
                </div>

                <div class="modal-body">
                    <div id="importxls_form_body" class="box-body">
                        <label class="control-label">Excel o Texto</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input id="archivo" name="archivo" type="file" class="form-control file xlsfl" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="insert-importar" type="submit" class="btn bg-indigo">Importar</button>
                </div>
            </form>
        </div>
    </div>
</div>