<table id="data_singuardia_visita" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="order_by_th" data-name="names">Id</th>
            <th class="order_by_th" data-name="names">Fecha Ingreso</th>
            <th class="order_by_th" data-name="names">Fecha Salida</th>
            <th class="order_by_th" data-name="names">Tipo documento</th>
            <th class="order_by_th" data-name="names">Nº documento</th>
            <th class="order_by_th" data-name="names">Nombre Invitado</th>
            <th class="order_by_th" data-name="names">Nombre Conductor</th>
            <th class="order_by_th" data-name="names">Cant. Pasajeros</th>
            <th class="order_by_th" data-name="names">Placa</th>
            <th class="order_by_th" data-name="names">Tipo vehiculo</th>
            <th class="order_by_th" data-name="names">Marca</th>
            <th class="order_by_th" data-name="names">Modelo</th>
            <th class="order_by_th" data-name="names">Color</th>
            <th class="order_by_th" data-name="names">Destino</th>
            <th class="order_by_th" data-name="names">Autorizado por</th>
            <th class="order_by_th" data-name="names">Nro Pase</th>
            <th class="order_by_th" data-name="names">Tipo de pase</th>
        </tr>
    </thead>

</table>