.bordesdiv {
  padding: 3px 10px;
  border: #01579b 1px solid;
  border-radius: 20px;
}

.form-group .form-line::after {
    border-bottom: 2px solid #006227;
}

.sidebar-own{
    width: 130px;
}
.content-own{
    margin: 80px 0 0 130px !important;
}
.tooltip {
    position: fixed;
}