{%extends ../../../common/views/layout.html%}

{%block style%}
    {% set user = usuario %}
    <link rel="stylesheet" href="usuarios/ajuste/assets/ajuste.css">
{%end%}

{%block content%}
    {% if 'ajuste_insert' in privileges or 'ajuste_update' in privileges %}
        {% include form.html %}
    {% end %}

    <div class="header "><h2 class="title-rg-own">Ajustes</h2></div>
    <input id="id_ajuste" type="hidden" value="{{ ajuste['id'] }}">

    <div class="body">
          <div class="row clearfix">
              <input id="id_movil" type="hidden" value="{{ ajuste['id_movil'] }}">
            <div class="col-sm-4">
              <div class="card" style="padding-left: 20px; padding-top: 10px">
                  <label ><span class="card-title">Clave Secreta</span></label>
                  </br>
                  </br>
                <div class="card-content">

                    <div class="row clearfix">
                        <div class="col-sm-7">
                            <label>Contraseña</label>
                                <div class="form-line">
                                    <input id="clavesecreta" name="Clave Secreta" value="{{ ajuste['claveSecreta'] }}" type="password" class="form-control txta-own"  >
                                </div>

                            </span>
                        </div>
                        <div class="col-sm-1">
                            <label></label>
                             <div class="form-line">
                                <span class="input-group-addon" id="see-pass" style="cursor: pointer;" title="Mostrar">
                                <i class="material-icons" style="color: grey" id="ic-pass">visibility_off</i>

                                </span>
                            </div>
                        </div>

                    </div>
                    </br>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <button id="actualizarReserva" type="button" class="btn color_boton waves-effect white-own" >Guardar <i class="material-icons white-own">save</i></button>
                        </div>
                    </div>
                    </br>

                </div>

              </div>
            </div>

            <div class="col-sm-4">
              <div class="card" style="padding-left: 20px; padding-top: 10px">
                  <label ><span class="card-title">Version Movil</span></label>
                  </br>
                  </br>
                <div class="card-content">

                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Version</label>
                                <div class="form-line">
                                    <input id="versionmovil" value="{{ ajuste['version'] }}" type="text" class="form-control txta-own"  >
                                </div>
                        </div>

                    </div>
                    </br>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <button id="actualizarVersionmovil" type="button" class="btn color_boton waves-effect white-own" >Guardar <i class="material-icons white-own">save</i></button>
                        </div>
                    </div>
                    </br>

                </div>

              </div>
            </div>


          </div>
        <div class="row clearfix">
            <div class="col-sm-4">
              <div class="card" style="padding-left: 20px; padding-top: 10px">
                  <label ><span class="card-title">Ajustes One Signal</span></label>
                  </br>
                  </br>
                <div class="card-content">

                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <label>App ID</label>
                                <div class="form-line">
                                    <input id="app_id" value="{{ ajuste['app_id'] }}" type="text" class="form-control txta-own"  >
                                </div>
                        </div>

                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-11">
                            <label>Rest Api Key</label>
                                <div class="form-line">
                                    <input id="rest_api_key" value="{{ ajuste['rest_api_key'] }}" type="text" class="form-control txta-own"  >
                                </div>
                        </div>

                    </div>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <label>Channel Id</label>
                                <div class="form-line">
                                    <input id="channel_id" value="{{ ajuste['channel_id'] }}" type="text" class="form-control txta-own"  >
                                </div>
                        </div>

                    </div>
                    </br>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <button id="actualizar_onesignal" type="button" class="btn color_boton waves-effect white-own" >Guardar <i class="material-icons white-own">save</i></button>
                        </div>
                    </div>
                    </br>

                </div>

              </div>
            </div>
            </div>

    </div>

{%end%}

{% block script%}
    <script src="resources/js/validations.js"></script>
    <script src="resources/js/functions.js"></script>
    <script src="usuarios/ajuste/assets/ajuste.js"></script>
<script>



</script>
{%end%}