{% extends ../../../common/views/layout.html %}

{% block style %}
    {% set user = usuario %}
    <link rel="stylesheet" href="condominios/evento/assets/evento.css">
{% end %}

{% block content %}
    {% include form.html %}

{#    <div class="header bg-page-own"><h2>Eventos</h2></div>#}
    <div class="header "><h2 class="title-rg-own">Eventos</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                {% if 'evento_insert' in privileges %}
                    <button id="new" type="button" class="btn bg-indigo waves-effect">Nuevo <i class="material-icons"></i></button>
                {% end %}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-2">
                <label class="form-label">Fecha Inicio</label>
               <div class="form-group">
                    <div id="fechaDIVinicio" class="form-line success">

                        <input id="ffechai" type="text" class="form-control date">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">Fecha Fin</label>
                    <div id="fechaDIVfin" class="form-line success">

                        <input id="ffechaf" type="text" class="form-control date">
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                    <button id="filtrar" type="button" class="btn bg-indigo waves-effect">
                    <i class="material-icons">youtube_searched_for</i>
                    </button>
            </div>
        </div>

        {% if 'evento_query' in privileges %}
        <div class="row">
            <div class="body table-responsive">
                <table id="data_table" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="order_by_th" data-name="names">Nro</th>
                            <th class="order_by_th" data-name="names">Tipo Evento</th>
                            <th class="order_by_th" data-name="names">Residente</th>
                            <th class="order_by_th" data-name="names">Lugar</th>
                            <th class="order_by_th" data-name="names">Fecha Inicio</th>
                            <th class="order_by_th" data-name="names">Fecha Fin</th>
                            <th class="actions_header">Estado</th>
                            <th class="actions_header">Editar</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
        {% else %}
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% end %}
    </div>
{% end %}

{% block script %}
    <script src="resources/plugins/momentjs/locale/es.js"></script>
    <script src="resources/js/functions.js"></script>
    <script src="condominios/evento/assets/evento.js"></script>

    <script src="resources/js/dataTables.buttons.js"></script>
    <script src="resources/js/pdfmake.js"></script>
    <script src="resources/js/vfs_fonts.js"></script>
    <script src="resources/js/buttons.bootstrap.js"></script>
    <script src="resources/js/buttons.html5.js"></script>
    <script src="resources/js/buttons.print.js"></script>
    <script src="resources/js/buttons.colVis.js"></script>
<script>
        $(document).ready(function () {

            var data = [];
            {% set cont = 0 %}
            {% for c in eventos %}
                data.push( [
                    '{{ c.id }}',
                    '{{ c.tipoevento.nombre }}',
                    '{{ c.residente.fullname }}',
                    {% if c.fkdomicilio %}
                        '{{ c.domicilio.nombre }}',
                    {% elif c.fkareasocial %}
                       '{{ c.areasocial.nombre }}',
                    {% else %}
                        '-----',
                    {% end %}
                    '{{ c.fechai.strftime("%d/%m/%Y") }}',
                    '{{ c.fechaf.strftime("%d/%m/%Y") }}',
                    '<input id="{{ c.id }}" onClick="event.preventDefault();eliminar(this)" data-id="{{ c.id }}" type="checkbox" class="chk-col-indigo delete" {% if c.estado %} {{"checked"}} {% end %} /><label for="{{c.id}}"></label>',
                    '<button id="edit" onClick="editar(this)" data-json="{{ c.id }}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>'

                ]);
            {% set cont = cont + 1 %}
            {% end %}
            cargar_tabla(data)
        });

    </script>

<script>

    function append_input_integrante(id_in) {
        if(id_in === ''){
            id_gv++;
            id_in = id_gv;
        }

        $('#integrante_div').append(
        '<div class="row">\
            <div class="col-sm-1 hidden">\
                <div class="input-group">\
                <input  id="id'+id_in+'" class="form-control idinvitacion invitado readonly">\
                </div>\
            </div>\
            <div class="col-sm-1 hidden">\
                <div class="input-group">\
                <input  id="fkinvitado'+id_in+'" class="form-control fkinvitado invitado readonly">\
                </div>\
            </div>\
            <div class="col-sm-2">\
                <div class="form-group form-float">\
                    <div class="form-line">\
                        <input id="nombre'+id_in+'" data-id="'+id_in+'" class="form-control nombre invitado">\
                    </div>\
                </div>\
            </div>\
            <div class="col-sm-2">\
                <div class="form-group form-float">\
                    <div class="form-line">\
                        <input id="apellidop'+id_in+'" data-id="'+id_in+'" class="form-control apellidop invitado">\
                    </div>\
                </div>\
            </div>\
            <div class="col-sm-2">\
                <div class="form-group form-float">\
                    <div class="form-line">\
                        <input id="apellidom'+id_in+'" data-id="'+id_in+'" class="form-control apellidom invitado">\
                    </div>\
                </div>\
            </div>\
            <div class="col-sm-1">\
                <div class="form-group form-float">\
                    <div  class="form-line">\
                        <input id="ci'+id_in+'" data-id="'+id_in+'" class="form-control ci invitado">\
                    </div>\
                </div>\
            </div>\
            <div class="col-sm-1">\
                <div class="form-group form-float">\
                    <select id="expendido_'+id_in+'" data-id="'+id_in+'" class="form-control expendido invitado">\
                       <option value="BN">BN</option> \
                        <option value="CH">CH</option> \
                         <option value="CB">CB</option> \
                         <option value="LP">LP</option> \
                         <option value="OR">OR</option> \
                         <option value="PD">PD</option> \
                         <option value="PT">PT</option> \
                         <option value="SC">SC</option> \
                         <option value="TJ">TJ</option> \
                    </select>\
                    </br>\
                    </br>\
                </div>\
            </div>\
            <div class="col-sm-2">\
                <div class="form-group form-float">\
                    <select id="fktipopase_'+id_in+'" data-id="'+id_in+'" class="form-control tipopase invitado">\
                    {% for tip in tipopases %} \
                       <option value="{{tip.id}}">{{tip.nombre}}</option> \
                    {% end %} \
                    </select>\
                    </br>\
                    </br>\
                </div>\
            </div>\
            <div class="col-sm-2">\
                <button type="button" class="btn bg-red waves-effect clear_integrante" title="Eliminar">\
                    <i class="material-icons">clear</i>\
                </button>\
            </div>\
        </div>'
    )

        $('.clear_integrante').last().click(function () {
            $(this).parent().parent().remove()
        })

        $('.nombre').focus(function () {
            $(this).parent().addClass('focused');
            current_input = $(this).prop('id');
        })
        $('.apellidop').focus(function () {
            $(this).parent().addClass('focused');
            current_input = $(this).prop('id');
        })
        $('.apellidom').focus(function () {
            $(this).parent().addClass('focused');
            current_input = $(this).prop('id');
        })

        $('.ci').focus(function () {
            $(this).parent().addClass('focused');
            current_input = $(this).prop('id');
        })

        $('.expendido').focus(function () {
            $(this).parent().addClass('focused');
            current_input = $(this).prop('id');
        })


        $('#fktipopase_'+id_in).selectpicker({
            size: 7,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar unidad',
            title: 'Seleccione una unidad.'
        })

        $('#fktipopase_'+id_in).val(1)
        $('#fktipopase_'+id_in).selectpicker('refresh')
    }
    </script>
{% end %}