<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="areasocial_tittle" class="modal-title">Ingreso de Area Social</h3>
                <h4 id="areasocial_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="areasocial_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">ID</label>
                            <input type="hidden" id="sigas" value="{{sigas}}">
                            <input type="hidden" id="idcondominio" value="{{idcondominio}}">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Condominio</label>
                             <select id="fkcondominio" class="form-control" required>
                                {% for con in condominios %}
                                    <option value="{{con.id}}">{{con.nombre}}</option>
                                {% end %}
                             </select>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Nombre</label>
                                <div class="form-line">
                                    <input id="nombre" name="Nombre" type="text" class="form-control txta-own" required>
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Ubicacion</label>
                                <div class="form-line">
                                    <input id="ubicacion" name="Ubicacion" type="text" class="form-control txta-own" required >
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>

                    <div class="modal-footer">
                    {% if 'areasocial_insert' in privileges %}
                        <button id="insert" type="button" class="btn bg-indigo waves-effect white-own">Guardar <i class="material-icons">save</i></button>
                    {% end %}
                    {% if 'areasocial_update' in privileges %}
                        <button id="update" type="button" class="btn bg-indigo waves-effect white-own">Modificar <i class="material-icons">refresh</i></button>
                    {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
