<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:100vw; max-width: 1000px" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="config_acceso_tittle" class="modal-title">Ingreso de Acceso</h3>
                <h4 id="config_acceso_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div id="config_acceso_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">Dispositivo ID</label>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Nombre</label>
                                <div class="form-line">
                                    <input id="nombre" name="Nombre" type="text" class="form-control txta-own" required >
                                </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Condominio</label>
                             <select id="fkcondominio" class="form-control" required>
                                {% for con in condominios %}
                                    <option value="{{con.id}}">{{con.nombre}}</option>
                                {% end %}
                             </select>
                        </div>

                    </div>
                    </br>
                    </br>

                    <div id="div_cerradura" class="row clearfix">
                        <div class="col-sm-12">
                            <label>Cerraduras</label>
                        </div>

                    </div>
                    </br>
                    <div id="div_cerradura_titulo" class="row clearfix">
                         <div class="col-sm-3">
                            <label>Nombre Dispositivo</label>
                        </div>
                        <div class="col-sm-1">
                            <label>Numero</label>
                        </div>

                         <div class="col-sm-3">
                            <label>Nombre Cerradura</label>
                        </div>
                        <div class="col-sm-4">
                             <label>Tipo de Entrada</label>
                        </div>
                    </div>
                   <div class="row clearfix">
                        <div class="col-sm-12">
                            <div id="cerraduras" class="box-body">
                                <div id="cerraduras_div" class="clearfix">

                                </div>

                            </div>
                        </div>

                    </div>
                    </br>
                    </br>

                <div id="div_tarjeta" class="row clearfix">
                        <div class="col-sm-12">
                            <label>Tarjetas</label>
                        </div>

                    </div>
                    </br>
                    <div id="div_tarjeta_titulo" class="row clearfix">
                         <div class="col-sm-1">
                            <label>Id</label>
                        </div>
                        <div class="col-sm-1">
                            <label>Numero de pase</label>
                        </div>

                         <div class="col-sm-2">
                            <label>Tarjeta</label>
                        </div>
                        <div class="col-sm-2">
                             <label>Tipo</label>
                        </div>

                    </div>
                   <div class="row clearfix">
                        <div class="col-sm-12">
                            <div id="tarjeta" class="box-body">
                                <div id="tarjeta_div" class="clearfix">

                                </div>

                            </div>
                        </div>

                    </div>
                    </br>
                    </br>


                </div>

                <div class="modal-footer">
                {% if 'config_acceso_insert' in privileges %}
                    <button id="insert" type="button" class="btn bg-indigo waves-effect white-own">Guardar <i class="material-icons">save</i></button>
                {% end %}
                {% if 'config_acceso_update' in privileges %}
                    <button id="update" type="button" class="btn bg-indigo waves-effect white-own">Modificar <i class="material-icons">refresh</i></button>
                {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
