<!-- Modal Exportar Excel-->
<div class="modal fade" id="persona_exportar_excel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="title-form2" class="modal-title">Exportar Invitados</h3>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <label>Descargar:</label>
                    <a href="" id="zelda_excel2"></a>
                    <i id="zelda_loading_excel2" class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default waves-float" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>