<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="vehiculo_tittle" class="modal-title">Ingreso de Modelo</h3>
                <h4 id="vehiculo_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div id="vehiculo_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">Marca ID</label>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Placa</label>
                                <div class="form-line">
                                    <input id="placa" name="Placa" type="text" class="form-control txta-own" required >
                                </div>
                        </div>

                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                         <label>Color</label>
                         <select id="fkcolor" class="form-control" required>
                             {% for col in colores %}
                                    <option value="{{col.id}}">{{col.nombre}}</option>
                                {% end %}
                             </select>
                        </div>
                        <div class="col-sm-5">
                            <label>Tipo</label>
                             <select id="fktipo" class="form-control" required>
                                 {% for tip in tipos %}
                                    <option value="{{tip.id}}">{{tip.nombre}}</option>
                                {% end %}
                             </select>
                        </div>

                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Marca</label>
                             <select id="fkmarca" class="form-control" required>
                                {% for mar in marcas %}
                                    <option value="{{mar.id}}">{{mar.nombre}}</option>
                                {% end %}
                             </select>
                        </div>
                        <div class="col-sm-5">
                            <label>Modelo</label>
                             <select id="fkmodelo" class="form-control">

                             </select>
                        </div>

                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Residente</label>
                             <select id="fkresidente" class="form-control">
                                {% for res in residentes %}
                                    <option value="{{res.id}}">{{res.fullname}}</option>
                                {% end %}
                             </select>
                        </div>


                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Buscar Tag</label>
                             <select id="fknropase" class="form-control">
                                 <option value="0">-----</option>
                                {% for nropase in nropases_tag %}
                                    <option value="{{nropase.id}}">{{nropase.tarjeta}}</option>
                                {% end %}
                             </select>
                        </div>
                        <div class="col-sm-5">
                            <label>Tag Vehicular</label>
                                <div class="form-line">
                                    <input id="idnropase" name="idnropase" type="text" class="form-control txta-own"  >
                                    <input id="tarjeta" name="tarjeta" type="text" class="form-control txta-own" readonly >
                                </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                {% if 'vehiculo_insert' in privileges %}
                    <button id="insert" type="button" class="btn bg-indigo waves-effect white-own">Guardar <i class="material-icons">save</i></button>
                {% end %}
                {% if 'vehiculo_update' in privileges %}
                    <button id="update" type="button" class="btn bg-indigo waves-effect white-own">Modificar <i class="material-icons">refresh</i></button>
                {% end %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-rep-xls">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="title-form" class="modal-title">Exportar vehiculos</h3>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <label class="link-own"><i class="material-icons">cloud_download</i> Descargar:</label>
                    <a href="" id="link_excel"></a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-orange waves-effect" data-dismiss="modal">
                    <i class="material-icons">close</i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div id="form-importar" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:60vw; max-width: 500px" >
        <div class="modal-content">
              <form id="importar-form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 id="importxls_title" class="modal-title">Importar</h3>
                </div>

                <div class="modal-body">
                    <div id="importxls_form_body" class="box-body">
                        <label class="control-label">Excel o Texto</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input id="archivo" name="archivo" type="file" class="form-control file xlsfl" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="insert-importar" type="submit" class="btn bg-indigo white-own">Importar</button>
                </div>
            </form>
        </div>
    </div>
</div>
