{% extends ../../../common/views/layout.html %}

{% block style %}
    {% set user = usuario%}
    <link rel="stylesheet" href="condominios/usuario/assets/usuario.css">
{% end %}

{% block content %}
    {% include form.html %}

{#    <div class="header bg-page-own"><h2>Invitados</h2></div>#}
    <div class="header"><h2 class="title-rg-own">Usuarios de Condominio</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                {% if 'usuarioCondominio_insert' in privileges %}
                    <button id="new" type="button" class="btn bg-indigo waves-effect white-own">Nuevo <i class="material-icons"></i></button>
                {% end %}
            </div>
        </div>

        {% if 'usuarioCondominio_query' in privileges %}
        <div class="row">
            <div class="body table-responsive">
                <table id="data_table" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="order_by_th" data-name="names">Nrº</th>
                            <th class="order_by_th" data-name="name">Nombre Completo </th>
                            <th class="order_by_th" data-name="name">Nombre de usuario </th>
                            <th class="order_by_th" data-name="condominio">Perfil </th>
                            <th class="order_by_th" data-name="condominio">Condominio </th>
                            <th class="actions_header">Estado</th>
                            <th class="actions_header">Session</th>
                            <th class="actions_header">Acciones</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
        {% else %}
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% end %}
    </div>
{% end %}

{% block script %}
    <script src="resources/plugins/momentjs/locale/es.js"></script>
    <script src="resources/js/functions.js"></script>
    <script src="condominios/usuario/assets/usuario.js"></script>
<script>
        $(document).ready(function () {
            
            var data_privilegios = [];
            {% for pri in privileges %}
                data_privilegios.push(
                    '{{ pri }}'
                );
            {% end %}
            

            var data = [];

            {% for c in usuarios_condominio %}
                data.push( [
                    '{{ c.id }}',
                    '{{ c.fullname }}',
                    '{{ c.username }}',
                    '{{ c.rol.nombre}}',
                     {% if c.fkcondominio %}
                        '{{ c.condominio.nombre}}',
                    {% else %}
                        '---------',
                    {% end %}
                    '<input id="{{ c.id }}" onClick="event.preventDefault();estado(this)" data-id="{{ c.id }}" type="checkbox" class="chk-col-indigo delete" {% if c.estado %} {{"checked"}} {% end %} {% if 'usuarioCondominio_state' not in privileges %} disabled {% end %} /><label for="{{c.id}}"></label>',
                    '<input id="se-{{ c.id }}" onClick="event.preventDefault();sesion(this)" data-id="{{ c.id }}" type="checkbox" class="chk-col-indigo" {% if c.login %} {{"checked"}} {% end %} {% if 'usuarioCondominio_sesion' not in privileges %} disabled {% end %} /><label for="se-{{c.id}}"></label>',
                    {% if 'usuarioCondominio_update' in privileges %}'<button id="edit" onClick="editar(this)" data-json="{{ c.id }}" type="button" class="btn bg-indigo waves-effect waves-light white-own" title="Editar"><i class="material-icons">create</i></button>'+ {% end %}  ' '
                    {% if 'usuarioCondominio_delete' in privileges %}+ '<button id="delete" onClick="eliminar(this)" data-json="{{ c.id }}" type="button" class="btn bg-indigo waves-effect waves-light white-own" title="Eliminar"><i class="material-icons">delete</i></button>' {% end %}

                ]);

            {% end %}
            console.log(data_privilegios)
            cargar_tabla(data,data_privilegios)
        });


</script>
{% end %}