<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:100vw; max-width: 1450px" >
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 id="invitado_title" class="modal-title">Ingreso de Invitados</h3>
                    <h4 id="invitado_enable" class=""></h4>
                </div>

                <div class="modal-body">
                <div id="invitado_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">Invitados ID</label>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <label>Nombre</label>
                                <div class="form-line">
                                    <input id="nombre" name="Nombre" type="text" class="form-control txta-own" required >
                                </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Apellido Paterno</label>
                                <div class="form-line">
                                    <input id="apellidop" name="Apellido Paterno" type="text" class="form-control txta-own" >
                                </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Apellido Materno</label>
                                <div class="form-line">
                                    <input id="apellidom" name="Apellido Materno" type="text" class="form-control txta-own">
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <label>Carnet de Identidad</label>
                                <div class="form-line">
                                    <input id="ci" name="Carnet de Identidad" type="text" class="form-control txta-own" >
                                </div>
                        </div>
                        <div class="col-sm-3">
                        <label>Expedido</label>
                         <select id="expendido" class="form-control">
                            <option value="BN">BN</option>
                            <option value="CH">CH</option>
                             <option value="CB">CB</option>
                             <option value="LP">LP</option>
                             <option value="OR">OR</option>
                             <option value="PD">PD</option>
                             <option value="PT">PT</option>
                             <option value="SC">SC</option>
                             <option value="TJ">TJ</option>

                         </select>
                        </div>
                         <div class="col-sm-3">
                            <label>Telefono</label>
                                <div class="form-line">
                                    <input id="telefono" name="Telefono" type="number" class="form-control txta-own">
                                </div>
                        </div>
                    </div>
                    </br>
                    </br>

                    <div class="row clearfix">

                        <div class="col-sm-3">
                            <label>Sexo</label>
                             <select id="sexo" class="form-control">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                             </select>
                        </div>

                    </div>
                    </br>
                    </br>

                    <div class="row clearfix">
                        <div id="div_agregar_vehiculo" class="col-sm-2">
                            <button id="agregar_vehiculo" type="button" class="btn bg-indigo waves-effect white-own waves-light"
                                    title="Agregar Vehiculo">Agregar <i class="material-icons">add</i></button>
                            </br>
                        </div>
                        <div id="div_cancelar_vehiculo" class="col-sm-2" hidden>
                            <button id="cancelar_vehiculo" type="button" class="btn bg-red waves-effect waves-light"
                                    title="Cancelar">Cancelar <i class="material-icons">clear</i></button>
                            </br>
                        </div>

                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div id="div_buscar_vehiculo" class="col-sm-4" hidden>
                             <label>Buscar Vehiculo</label>
                             <select id="vehiculos" class="form-control">
                                 <option value="0">Nuevo Vehiculo</option>
                                {% for vehi in vehiculos %}
                                    <option value="{{vehi.id}}">{{vehi.placa}}</option>
                                {% end %}
                             </select>
                            </br>
                            </br>
                        </div>

                    </div>
                    <div id="div_nuevo_vehiculo">
                        <div class="row clearfix">
                            <div class="col-sm-2">
                                <label>Tipo</label>
                                 <select id="tipovehiculo" class="form-control">
                                         <option value="Auto">Auto</option>
                                         <option value="Camioneta">Camioneta</option>
                                         <option value="Vagoneta">Vagoneta</option>
                                         <option value="Jeep">Jeep</option>
                                         <option value="Camion">Camion</option>
                                         <option value="Motocicleta">Motocicleta</option>
                                         <option value="Moto">Moto</option>
                                     </select>
                            </div>
                            <div class="col-sm-2">
                                <label>Placa</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="placa" name="Placa" type="text" class="form-control">
                                    </div>
                                 </div>
                            </div>
                             <div class="col-sm-2">
                                <label>Color</label>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="color" name="Color" type="text" class="form-control">
                                    </div>
                                 </div>
                            </div>

                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-2">
                                <label>Marca</label>
                                 <select id="fkmarca" class="form-control">
                                    {% for mar in marcas %}
                                        <option value="{{mar.id}}">{{mar.nombre}}</option>
                                    {% end %}
                                 </select>
                            </div>
                            <div class="col-sm-2">
                                <label>Modelo</label>
                                 <select id="fkmodelo" class="form-control">

                                 </select>
                            </div>

                            <div class="col-sm-1">
                                <button id="insertar_vehiculo" type="button" class="btn bg-indigo waves-effect white-own agregar_vehiculo" title="Agregar">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>


                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-1">
                            <label class="form-label">Placa</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="form-label">Tipo</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="form-label">Color</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="form-label">Marca</label>
                        </div>
                        <div class="col-sm-1">
                            <label class="form-label">Modelo</label>
                        </div>

                    </div>
                    <div class="row clearfix">

                       <div class="col-sm-18">
                             <div id="vehiculo" class="box-body">
                                <div id="vehiculo_div" class="clearfix">

                                </div>
                             </div>
                       </div>
                   </div>



                </div>

                <div class="modal-footer">
                {% if 'invitado_insert' in privileges %}
                    <button id="insert" type="button" class="btn bg-indigo waves-effect white-own">Guardar <i class="material-icons">save</i></button>
                {% end %}
                {% if 'invitado_update' in privileges %}
                    <button id="update" type="button" class="btn bg-indigo waves-effect white-own">Modificar <i class="material-icons">refresh</i></button>
                {% end %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-rep-xls">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="title-form" class="modal-title">Exportar invitados</h3>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <label class="link-own"><i class="material-icons">cloud_download</i> Descargar:</label>
                    <a href="" id="link_excel"></a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-orange waves-effect" data-dismiss="modal">
                    <i class="material-icons">close</i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div id="form-importar" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:60vw; max-width: 500px" >
        <div class="modal-content">
              <form id="importar-form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 id="importxls_title" class="modal-title">Importar</h3>
                </div>

                <div class="modal-body">
                    <div id="importxls_form_body" class="box-body">
                        <label class="control-label">Excel o Texto</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input id="archivo" name="archivo" type="file" class="form-control file xlsfl" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="insert-importar" type="submit" class="btn bg-indigo white-own">Importar</button>
                </div>
            </form>
        </div>
    </div>
</div>