{% for c in invitados %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.ci }}</td>
    <td>{{ c.fullname }}</td>
    {% if c.telefono %}
        <td>{{ c.telefono }}</td>
    {% else %}
        <td> ---- </td>
    {% end %}

    <td align="center ">
        {% if 'invitado_delete' in privileges %}
            <div>
                <input  id="{{c.id}}" data-id="{{c.id}}" type="checkbox"  class="module chk-col-deep-purple delete"  {%if c.estado %} {{"checked"}} {% end %} />
                <label for="{{c.id}}"></label>
            </div>
        {% end %}

    </td>

    <td align="center">
        <div class="contenedor">
            {% if 'invitado_update' in privileges %}
                <button id="edit" data-json="{{ c.id }}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
            {% end %}

        </div>
    </td>
</tr>
{% end %}